@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
	height: 100% !important;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

footer{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

#jabout{
    background-color: #7B1842 !important;
    color: #fff !important;
    margin: 1em auto !important;
}

.aucard{
    border-radius: 2em !important;
    font-family: 'Montserrat', sans-serif;
}



