/*CSS File for Navigation Bar*/
@import url('https://fonts.googleapis.com/css?family=Chicle');

.navbar-brand{
    font-weight: bolder;
    font-size: 2em !important;
    font-family: 'Chicle', cursive;
    color: #1a1a1a !important;
}

.navbar-brand img{
    width: 1em !important;
}

.nav-item{
    color: #1a1a1a !important;
    font-weight: bold;
}

.cart{
    color: grey !important;
}

.logo-text{
    color: red;
}
