<footer class="bg-dark text-light pt-2">
    <div class="container footer-text-description text-center">
        <p>Đồ án môn Phát triển Ứng dụng Web</p>
        <p>Nhóm thực hiện: Tạ Việt Tiến - Nguyễn Đào Xuân Trường</p>
        <p>Lớp CNTN2015 - Khoa Công nghệ thông tin - Trường ĐH Khoa học Tự nhiên</p>
    </div>
    <div class="social-networks">
        <a href="https://twitter.com/xuantruonghmd96" target="_blank" class="twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.fb.com/NguyenDaoXuanTruong" target="_blank" class="facebook">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://plus.google.com/+Xu%C3%A2nTr%C6%B0%E1%BB%9DngNguy%E1%BB%85n%C4%90%C3%A0o?hl=vi" target="_blank" class="google">
            <i class="fab fa-google-plus-g"></i>
        </a>
    </div>
    <div class="footer-copyright py-3 text-center">
        © Copyright 2018
    </div>
</footer>