@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
/*font-family: 'Bowlby One SC', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/*font-family: 'Roboto Slab', serif;*/

* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
	position: relative;
	min-height: 100%;
}

/*----------- Custom text --------------*/

.text-step {
	font-weight: bold;
	font-size: 3em;
	font-family: 'Roboto Slab', serif;
}

.title-step {
	font-weight: bold;
	font-size: 3em;
	font-family: 'Roboto Slab', serif;
}

.form-sign-label {
	font-weight: bold;
	font-size: 1.1em;
}

.card-product-name {
	font-weight: bold;
}

.card-product-price {
	color: red;
	font-weight: bold;
}

/*------------- Header -----------------*/

.navbar-brand {
	font-family: 'Bowlby One SC', cursive;
	font-size: 2em;
	font-weight: bold;
}

.nav-item {
	font-weight: bold;
}

/*------------- Footer -----------------*/

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

footer .footer-copyright {
	background-color: #383737;
	padding-bottom: 3px;
	text-align: center;
	width: 100%;
}

footer .footer-copyright p {
	margin: 10px;
	color: #ccc;
}

footer a:hover,
footer a:focus {
	text-decoration: none;
	color: white;
}

footer .myCols {
	text-align: center;
}

footer .social-networks {
	text-align: center;
	padding-bottom: 1em;
}

footer .social-networks a {
	font-size: 32px;
	margin-right: 5px;
	margin-left: 5px;
	color: #f9f9f9;
	padding: 10px;
	transition: 0.2s;
}

footer .social-networks a:hover {
	text-decoration: none;
}

footer .facebook:hover {
	color: #0077e2;
}

footer .google:hover {
	color: #ef1a1a;
}

footer .twitter:hover {
	color: #00aced;
}

@media screen and (max-width: 767px) {
	footer {
		text-align: center;
	}
}

/*---------------- Card -----------------*/

.card-sign-form {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.product-card:hover {
	border: solid grey;
}

/*------------------ Div ---------------------*/

.signup_background {
	background-image: url("/images/signup_background.jpg");
}

.signin_background {
	background-image: url("/images/signin_background.jpg");
	min-height: 400px;
}

.label-holder {
	width: 25%;
}

.label-text-holder {
	width: 100%;
}

.mid-text-div {
	text-align: center;
	vertical-align: middle;
}

/*------------------- Img ---------------------*/

img {
	width: 100%;
}

.card-product-img {
	width: 100%;
	height: 200px;
}

/*---------------------------------------------*/

a {
	color: #00B7FF;
	text-decoration: none;
}

.footer-text-description {
	font-style: italic;
}

.maxwi{
	width: 100%;
}